<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sullog.backend.member.mapper.MemberMapper">

    <resultMap id="searchWordMap" type="String">
        <result property="searchWordList" column="search_word_list" typeHandler="sullog.backend.common.mapper.typehandler.StringListTypeHandler"/>
    </resultMap>

    <insert id="insertMember" parameterType="sullog.backend.member.entity.Member">
        INSERT INTO member
        (
            email,
            nickname,
            search_word_list
        )
        VALUES (
            #{email},
            #{nickName},
            #{searchWordList, typeHandler=sullog.backend.common.mapper.typehandler.StringListTypeHandler}
        )
    </insert>

    <select id="selectMemberByEmail" resultType="sullog.backend.member.entity.Member">
        SELECT *
        FROM member
        WHERE email = #{email} and deleted_at IS NULL
    </select>


    <delete id="deleteMemberById">
        UPDATE member
        SET
            deleted_at = NOW(),
            updated_at = NOW()
        WHERE
            member_id = #{memberId}
    </delete>

    <select id="selectRecentSearchHistory" resultMap="searchWordMap">
        SELECT search_word_list
        FROM member
        WHERE member_id = #{memberId}
    </select>

    <update id="updateSearchWordList">
        UPDATE member
        SET search_word_list = #{searchWordList, typeHandler=sullog.backend.common.mapper.typehandler.StringListTypeHandler},
            updated_at = NOW()
        WHERE member_id = #{memberId}
    </update>

    <select id="selectMemberById" resultType="sullog.backend.member.entity.Member">
        SELECT *
        FROM member
        WHERE member_id = #{memberId}
          and deleted_at IS NULL
    </select>

</mapper>