<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sullog.backend.alcohol.mapper.AlcoholMapper">

    <resultMap id="AlcoholWithAlcoholBrand" type="sullog.backend.alcohol.dto.table.AlcoholWithBrandDto">
        <result property="alcoholId" column="alcohol_id"/>
        <result property="brandId" column="brand_id"/>
        <result property="alcoholName" column="alcohol_name"/>
        <result property="alcoholType" column="alcohol_type"/>
        <result property="alcoholPercent" column="alcohol_percent"/>
        <result property="productionLocation" column="production_location"/>
        <result property="productionLatitude" column="production_latitude"/>
        <result property="productionLongitude" column="production_longitude"/>
        <result property="alcoholTag" column="alcohol_tag"/>
        <result property="alcoholCreatedAt" column="alcohol_created_at"/>
        <result property="alcoholUpdatedAt" column="alcohol_updated_at"/>
        <result property="alcoholDeletedAt" column="alcohol_deleted_at"/>
        <result property="brandName" column="brand_name"/>
        <result property="brandCreatedAt" column="brand_created_at"/>
        <result property="brandUpdatedAt" column="brand_updated_at"/>
        <result property="brandDeletedAt" column="brand_deleted_at"/>
    </resultMap>

    <select id="selectByAlcoholId" resultType="sullog.backend.alcohol.entity.Alcohol">
        SELECT *
        FROM alcohol
        WHERE alcohol_id = #{alcoholId}
    </select>

    <select id="selectByAlcoholIdWithBrand" resultMap="AlcoholWithAlcoholBrand">
        SELECT a.alcohol_id           AS alcohol_id,
               a.brand_id             AS brand_id,
               a.name                 AS alcohol_name,
               a.alcohol_type         AS alcohol_type,
               a.alcohol_percent      AS alcohol_percent,
               a.production_location  AS production_location,
               a.production_latitude  AS production_latitude,
               a.production_longitude AS production_longitude,
               a.alcohol_tag          AS alcohol_tag,
               a.created_at           AS alcohol_created_at,
               a.updated_at           AS alcohol_updated_at,
               a.deleted_at           AS alcohol_deleted_at,
               ab.name                AS brand_name,
               ab.created_at          AS brand_created_at,
               ab.updated_at          AS brand_updated_at,
               ab.deleted_at          AS brand_deleted_at
        FROM alcohol AS a
                 LEFT JOIN (SELECT *
                            FROM alcohol_brand) AS ab
                           ON a.brand_id = ab.brand_id
        WHERE alcohol_id = #{alcoholId}
    </select>

    <select id="pagingSelectByKeyword" resultMap="AlcoholWithAlcoholBrand">
        SELECT a.alcohol_id           AS alcohol_id,
                a.brand_id             AS brand_id,
                a.name                 AS alcohol_name,
                a.alcohol_type         AS alcohol_type,
                a.alcohol_percent      AS alcohol_percent,
                a.production_location  AS production_location,
                a.production_latitude  AS production_latitude,
                a.production_longitude AS production_longitude,
                a.alcohol_tag          AS alcohol_tag,
                a.created_at           AS alcohol_created_at,
                a.updated_at           AS alcohol_updated_at,
                a.deleted_at           AS alcohol_deleted_at,
                ab.name                AS brand_name,
                ab.created_at          AS brand_created_at,
                ab.updated_at          AS brand_updated_at,
                ab.deleted_at          AS brand_deleted_at
        FROM alcohol AS a
        LEFT JOIN (
            SELECT *
            FROM alcohol_brand
        ) AS ab
        ON a.brand_id = ab.brand_id
        <choose>
            <when test = "keyword != null">
                WHERE a.name LIKE CONCAT('%', #{keyword}, '%')
                AND a.alcohol_id >= #{cursor}
            </when>
            <otherwise>
                WHERE a.alcohol_id >= #{cursor}
            </otherwise>
        </choose>
        ORDER BY a.alcohol_id ASC
        LIMIT #{limit}
    </select>

    <select id="selectAllAlcoholList" resultType="sullog.backend.alcohol.entity.Alcohol">
        SELECT *
        FROM alcohol
    </select>

    <update id="updateAlcohol" parameterType="sullog.backend.alcohol.entity.Alcohol">
        UPDATE alcohol
        SET
            brand_id = #{brandId},
            name = #{name},
            alcohol_type = #{alcoholType},
            alcohol_percent = #{alcoholPercent},
            production_location = #{productionLocation},
            production_latitude = #{productionLatitude},
            production_longitude = #{productionLongitude},
            alcohol_tag = #{alcoholTag}
        WHERE alcohol_id = #{alcoholId}
    </update>

    <select id="selectFromNameAndLocationInfo" resultType="sullog.backend.alcohol.entity.Alcohol">
        SELECT *
        FROM alcohol
        WHERE name = #{name}
          AND production_latitude = #{lng}
          AND production_longitude = #{lat}
    </select>

</mapper>