<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sullog.backend.record.mapper.RecordMapper">

    <insert id="insertRecord">
        INSERT INTO sullog_alpha.record
        (
            member_id,
            alcohol_id,
            title,
            photo_path,
            alcohol_intensity,
            flavor_tag_list,
            taste_score,
            texture_score,
            description,
        )
        VALUES (
                   #{record.memberId},
                   #{record.alcoholId},
                   #{record.title},
                   #{record.photo_path},
                   #{record.alcoholIntensity, typeHandler=sullog.backend.record.mapper.typeHandler.AlcoholIntensityTypeHandler},
                   #{record.flavor_tag_list, typeHander=sullog.backend.record.mapper.typeHandler.FlavorTagListTypeHandler},
                   #{record.taste_score},
                   #{record.texture_score},
                   #{record.description}
               );
    </insert>


</mapper>