<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sullog.backend.record.mapper.RecordMapper">

    <insert id="insertRecord" parameterType="sullog.backend.record.entity.Record">
        INSERT INTO record
        (
            member_id,
            alcohol_id,
            photo_path,
            alcohol_percent_feeling,
            flavor_tag_list,
            star_score,
            scent_score,
            taste_score,
            texture_score,
            description,
            experience_date
        )
        VALUES (
                   #{memberId},
                   #{alcoholId},
                   #{photoPathList, typeHandler=sullog.backend.common.mapper.typehandler.StringListTypeHandler},
                   #{alcoholPercentFeeling, typeHandler=sullog.backend.record.mapper.typehandler.AlcoholPercentFeelingTypeHandler},
                   #{flavorTagList, typeHandler=sullog.backend.record.mapper.typehandler.FlavorTagListTypeHandler},
                   #{starScore},
                   #{scentScore},
                   #{tasteScore},
                   #{textureScore},
                   #{description},
                   #{experienceDate}
               );
    </insert>

    <resultMap id="RecordMetaWithAlcoholInfo" type="sullog.backend.record.dto.table.RecordMetaWithAlcoholInfoDto">
        <result property="recordId" column="record_id"/>
        <result property="description" column="description"/>
        <result property="photoPathList" column="photo_path" typeHandler="sullog.backend.common.mapper.typehandler.StringListTypeHandler"/>
        <result property="alcoholId" column="alcohol_id"/>
        <result property="alcoholName" column="alcohol_name"/>
        <result property="productionLocation" column="production_location"/>
        <result property="productionLatitude" column="production_latitude"/>
        <result property="productionLongitude" column="production_longitude"/>
        <result property="alcoholTag" column="alcohol_tag"/>
        <result property="brandName" column="brand_name"/>
    </resultMap>

    <select id="selectRecordMetaByMemberId" resultMap="RecordMetaWithAlcoholInfo">
        SELECT r.record_id            AS record_id,
               r.description          AS description,
               r.photo_path           AS photo_path,
               a.alcohol_id           AS alcohol_id,
               a.name                 AS alcohol_name,
               a.production_location  AS production_location,
               a.production_latitude  AS production_latitude,
               a.production_longitude AS production_longitude,
               a.alcohol_tag          AS alcohol_tag,
               ab.name                AS brand_name
        FROM record AS r
        LEFT JOIN (SELECT alcohol_id,
                          brand_id,
                          name,
                          production_location,
                          production_latitude,
                          production_longitude,
                          alcohol_tag
                    FROM alcohol) AS a
            ON r.alcohol_id = a.alcohol_id
        LEFT JOIN alcohol_brand AS ab
            ON a.brand_id = ab.brand_id
        WHERE r.member_id = #{memberId}
    </select>

    <resultMap id="Record" type="sullog.backend.record.entity.Record">
        <result property="recordId" column="record_id"/>
        <result property="memberId" column="member_id"/>
        <result property="alcoholId" column="alcohol_id"/>
        <result property="photoPathList" column="photo_path" typeHandler="sullog.backend.common.mapper.typehandler.StringListTypeHandler"/>
        <result property="alcoholPercentFeeling" column="alcohol_percent_feeling" typeHandler="sullog.backend.record.mapper.typehandler.AlcoholPercentFeelingTypeHandler"/>
        <result property="flavorTagList" column="flavor_tag_list" typeHandler="sullog.backend.record.mapper.typehandler.FlavorTagListTypeHandler"/>
        <result property="starScore" column="star_score"/>
        <result property="tasteScore" column="taste_score"/>
        <result property="scentScore" column="scent_score"/>
        <result property="textureScore" column="texture_score"/>
        <result property="description" column="description"/>
        <result property="experienceDate" column="experience_date" typeHandler="sullog.backend.record.mapper.typehandler.LocalDateTypeHandler"/>
    </resultMap>

    <select id="selectRecordById" resultMap="Record">
        SELECT record_id,
               member_id,
               alcohol_id,
               photo_path,
               alcohol_percent_feeling,
               flavor_tag_list,
               star_score,
               taste_score,
               scent_score,
               texture_score,
               description,
               experience_date
        FROM record
        WHERE record_id = #{recordId}
    </select>

    <select id="selectRecordMetaByCondition" resultMap="RecordMetaWithAlcoholInfo">
        SELECT  r.record_id            AS record_id,
                r.description          AS description,
                r.photo_path           AS photo_path,
                a.alcohol_id           AS alcohol_id,
                a.name                 AS alcohol_name,
                a.production_location  AS production_location,
                a.production_latitude  AS production_latitude,
                a.production_longitude AS production_longitude,
                a.alcohol_tag          AS alcohol_tag,
                ab.name                AS brand_name
        FROM record AS r
        LEFT JOIN (SELECT   alcohol_id,
                            brand_id,
                            name,
                            production_location,
                            production_latitude,
                            production_longitude,
                            alcohol_tag
                            FROM alcohol) AS a
            ON r.alcohol_id = a.alcohol_id
        LEFT JOIN alcohol_brand AS ab
            ON a.brand_id = ab.brand_id
        WHERE r.member_id = #{memberId}
        <if test="recordSearchParamDto.cursor != null">
            AND <![CDATA[r.record_id < #{recordSearchParamDto.cursor}]]>
        </if>
        <choose>
            <when test = "recordSearchParamDto.keyword != null">
            AND (a.name LIKE CONCAT('%', #{recordSearchParamDto.keyword}, '%')
                    OR ab.name LIKE CONCAT('%', #{recordSearchParamDto.keyword}, '%')
                    OR r.description LIKE CONCAT('%', #{recordSearchParamDto.keyword}, '%'))
            </when>
        </choose>
        ORDER BY r.record_id DESC
        <if test="recordSearchParamDto.limit != null">
            LIMIT #{recordSearchParamDto.limit}
        </if>
    </select>

    <resultMap id="RecordMetaWithAlcoholInfoAndMemberId" type="sullog.backend.record.dto.table.AllRecordMetaWithAlcoholInfoDto">
        <result property="memberId" column="member_id"/>
        <result property="recordId" column="record_id"/>
        <result property="description" column="description"/>
        <result property="photoPathList" column="photo_path" typeHandler="sullog.backend.common.mapper.typehandler.StringListTypeHandler"/>
        <result property="alcoholId" column="alcohol_id"/>
        <result property="alcoholName" column="alcohol_name"/>
        <result property="productionLocation" column="production_location"/>
        <result property="productionLatitude" column="production_latitude"/>
        <result property="productionLongitude" column="production_longitude"/>
        <result property="alcoholTag" column="alcohol_tag"/>
        <result property="brandName" column="brand_name"/>
    </resultMap>

    <select id="selectAllRecordMetaByPaging" resultMap="RecordMetaWithAlcoholInfoAndMemberId">
        SELECT
        r.member_id            AS member_id,
        r.record_id            AS record_id,
        r.description          AS description,
        r.photo_path           AS photo_path,
        a.alcohol_id           AS alcohol_id,
        a.name                 AS alcohol_name,
        a.production_location  AS production_location,
        a.production_latitude  AS production_latitude,
        a.production_longitude AS production_longitude,
        a.alcohol_tag          AS alcohol_tag,
        ab.name                AS brand_name
        FROM record AS r
        LEFT JOIN (
            SELECT alcohol_id,
                    brand_id,
                    name,
                    production_location,
                    production_latitude,
                    production_longitude,
                    alcohol_tag
            FROM alcohol
        ) AS a
        ON r.alcohol_id = a.alcohol_id
        LEFT JOIN alcohol_brand AS ab
        ON a.brand_id = ab.brand_id
        <if test="recordSearchParamDto.cursor != null">
            WHERE <![CDATA[r.record_id < #{recordSearchParamDto.cursor}]]>
        </if>
        ORDER BY r.record_id DESC
        <if test="recordSearchParamDto.limit != null">
            LIMIT #{recordSearchParamDto.limit}
        </if>
    </select>

    <select id="selectAlcoholTypeList" resultType="String">
        SELECT
            a.alcohol_type
        FROM record AS r
        LEFT JOIN (
            SELECT *
            FROM alcohol
        ) AS a
        ON r.alcohol_id = a.alcohol_id
        WHERE r.member_id = #{member_id}
    </select>

</mapper>